version: '3.8'

services:
  server:
    build: ./tech-int3-server
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
    restart: always

  client:
    build: ./client
    ports:
      - "5174:80"
    depends_on:
      - server
    restart: always
